body {
    font-family: sans-serif;
}

header{
    background-color: rgb(0, 0, 75);
}

header a {
    color: white;
}

header img {
    padding: 7px;
}

header b{
    color: white;
    font-size: 20px;
}

h1{
    color: rgb(12, 12, 111);
    background-color: rgb(142, 64, 214);
    text-align:center ;
}

footer{
    background-color: burlywood;
    padding: 3px;
}

footer p {
    background-color: white;
    padding: 5px;
}

nav {
    background-color: rgb(6, 129, 6);
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

.turpal{
    background-color: rgb(123, 189, 128);
    padding: 10px;
    border-radius: 10px;
}

h2{
    color: blue;
}
